.pointer-cursor {
  cursor: pointer;
}

/* .notification-outer {

} */
.bell-icon {
  position: relative;
}
.notify-count {
  position: absolute;
  font-size: 12px;
  right: 2px;
  top: 0px;
}

.notification-drawer {
  position: relative;
  /* width: 300px; */
  .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    max-width: 320px;
    width: 100%;
  }

  .notifications {
    width: 100%;
    cursor: pointer;
    text-decoration: none;

    border-bottom: solid 1px #7f56d9;

    background-color: #fff;
    padding: 10px;
    /* background-color: #a981ff4a; */

    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;

    .notify-dot {
      width: 5px;
      height: 5px;

      background-color: #7f56d9;
      border-radius: 50%;
    }

    .text-container {
      width: 90%;
    }

    h2 {
      color: #7f56d9;
      margin-bottom: 0.5em;
      font-size: 1rem;
    }

    p {
      color: #666;
      font-size: 0.8rem;
      margin-bottom: 15px;
    }

    a {
      color: #0066cc;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .nt-seen {
    .notify-dot {
      background-color: white;
    }
    h2 {
      color: #7f56d994;
    }
    p {
      color: #918e8e;
    }
  }
}

.custom-chip {
  font-size: 11px;
}

.bell-outer {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 20;
}

.notification-wrapper,
.notification-wrapper-active {
  position: absolute;
  top: 65px;
  right: -10px;
  max-width: 400px;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  transition: opacity 0.3s ease;
  opacity: 0;
  /* z-index: -1; */
  display: none;
  padding: 20px;
}

.notification-wrapper-active li {
  margin-top: 7px;
}

.notification-wrapper-active {
  top: 65px;
  opacity: 1;
  z-index: 1;
  right: 10px;
  display: block;
}

/* text limit */
.text-limit,
.limit-1,
.limit-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.limit-1 {
  -webkit-line-clamp: 1;
}
.limit-2 {
  -webkit-line-clamp: 2;
}
