.supplier-btn {
    font-size: 0.78rem;
}

.header-btn-outer {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.header-btn-outer .active {
    background-color: rgb(106, 69, 187) !important;
}








.datepicker {
    min-width: 280px;
}